<div class="container pt-5 mt-5">
  <h2>LOGAR</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs pt-2">
      <%= f.input :username, label: "Usuário", class: 'pt-4',
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "username" } %>
      <%= f.input :password, label: "Senha", class: 'pt-4',
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: 'btn btn-outline-primary align-middle button' %>
    </div>
  <% end %>
</div>
