.photo {
  height: 90%;
  width: 100%;
  border: 1px solid #777;
}

.p-show{
  font-weight: bold;
  font-weight: italic;
  font-size: 20px;
  text-align: left;
}

.p-type{
  font-weight: bold;
  font-size: 16px;
  text-align: right;
}

.center {
  padding-top: 50px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
}

@media (max-width: 960px) {
  .p-show{
    font-size: 20px;
  }
  .p-type{
    font-size: 16px;
  }
}
@media (max-width: 720px) {
  .p-show{
    font-size: 18px;
  }
  .p-type{
    font-size: 15px;
  }
}
@media (max-width: 540px) {
  .p-show{
    font-size: 17px;
  }
  .p-type{
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .p-show{
    font-size: 11px;
  }
  .p-type{
    font-size: 11px;
  }
}
